h1 {
    text-align: center;
    margin: 10px 0 20px 0;
}

button {
    flex: auto;
}

.quiz-area {
    margin-top: 20px;
    text-align: center;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.quiz-area2 {
    margin-top: 20px;
    text-align: center;
    /* position: absolute; */
    visibility: hidden;
    opacity: 0;
}

li {
    text-align: left;
}

.active {
    opacity: 1;
    visibility: visible;
}

#quiz-start {
    /* visibility: hidden; */
}

#q1 {
    /* visibility: hidden; */
}

